{
  "parser": "@babel/eslint-parser",
  "requireConfigFile": false,
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "module": true
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/react-in-jsx-scope": "off"
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  }
}