{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": [
        "@babel/preset-react"
      ]
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "globals": {
    "module": true
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "no-dupe-keys": 0,
    "no-prototype-builtins": 0,
    "no-useless-escape": 0,
    "prettier/prettier": "error",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "semi": [
      2,
      "never"
    ]
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  }
}